.navbar {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  row-gap: 3rem;
  align-items: center;
  padding: 2rem;
}

@media only screen and (max-width: 440px){
  .navbar{
    padding-bottom: 0rem;
  }
}